// Variables of Gemini scheme
// ==================================================

@import "Pisces.styl";

// NOTE: Move to base.styl
// // Settings for some of the most global styles.
// // --------------------------------------------------
//
// // Borders.
// // --------------------------------------------------
// // $box-shadow-inner        = .3rem .3rem .8rem 0rem rgba(0, 0, 0, 0.033);
// $box-shadow-inner        = .3rem .3rem .8rem 0rem rgba(0, 0, 0, 0.1);
// $box-shadow              = 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
//
// $border-radius-inner     = initial;
// $border-radius           = 1.4rem;
//
//
// // NEW: this might be the theme we are using
// .sidebar-inner,
// .header-inner,
// .content.index article,
// .post-block
// {
//   border: .9px solid #000;
// }
