// Variables of Gemini scheme
// ==================================================

@import "Pisces.styl";

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color           = #eee;

// Borders.
// --------------------------------------------------
// $box-shadow-inner        = .3rem .3rem .8rem 0rem rgba(0, 0, 0, 0.033);
$box-shadow-inner        = .3rem .3rem .8rem 0rem rgba(0, 0, 0, 0.1);
$box-shadow              = 0.3rem 0.3rem 0.8rem 0rem rgba(0,0,0,0.1);

$border-radius-inner     = initial;
$border-radius           = 1.4rem;
