.post-body {
  font-family: $font-family-posts;
  word-wrap();

  +desktop() {
    // font-size: $font-size-smaller;
  }

  +desktop-large() {
    // font-size: $font-size-small;
  }

  a:not(.fancybox):not(.category-list-link):not(.btn) {
    position: relative;
    margin: 0 .1rem 0 0;
    color: $theme-color;
    color: #FE0000;
    display: inline;
    transition: all .3s ease-in-out;

    // Add the Font Awesome icon before the link text
    &::after {
      font-family: 'Font Awesome 5 Free'; // or the appropriate Font Awesome version
      content: "\f35d"; // Unicode for fa-external-link-alt
      font-weight: 900; // Font weight for Font Awesome solid icons
      font-size: $font-size-smallest;

      // Additional styles for positioning and appearance
      position: relative;
      top: -.1rem;
      right: 0;
      padding: 0 .1rem 0 .4rem;
      opacity: .3;
      display: inline-block;
    }

    // Specific adjustments for different devices
    +tablet() {
      // margin: 0 1.3rem 0 0;

      &::after {
        // transform: translate(1.4rem, -.0rem) scale(.9)
      }
    }

    +mobile() {
      &::after {
        // transform: translate(1.4rem, .25rem) scale(.9)
      }
    }
  }

  .exturl {
    // margin: 0 1.2rem 0 0;

    .fa {
      display: none;
      // font-size: $font-size-small;
//       &.fa-external-link-alt {
//         font-size: $font-size-smallest - .15rem;
//         opacity: .3;
//         position: absolute;
//         transform: translate(.3rem, .65rem);
//
//         // +desktop() {
//         //   font-size: $font-size-smallest - .15rem;
//         // }
//
//         +tablet() {
//           font-size: $font-size-smallest - .2rem;
//           transform: translate(.3rem, .6rem);
//         }
//
//         +mobile() {
//           // font-size: $font-size-smallest - .2rem;
//           transform: translate(.3rem, .55rem);
//         }
//
//       }
    }
  }

  .image-caption, .figure .caption {
    color: $grey-dark;
    font-size: $font-size-smaller;
    line-height: 1;
    margin: -.6rem auto 1.3rem;
    text-align: center;
  }
}

.post-sticky-flag {
  position: absolute;
  display: inline-block;
  transform: rotate(30deg) scale(0.8);
  opacity: .6;
  right: -1.5rem;
  top: -.8rem;
  color: $theme-color;
  transition: all .3s ease-in-out;

  +tablet() {
    top: -0.5rem;
    right: -1.2rem;
  }

  +mobile() {
    top: -0.5rem;
    right: -1rem;
  }
}

.post-button {
  text-align: right;
  font-size: $font-size-smallest;
  width: fit-content;
  margin: 0 0 0 auto;
  transition: all .3s ease-in-out;

  +desktop() {
    opacity: .3;

    &:hover {
      opacity: 1;
    }
  }

  +tablet() {
    bottom: -3.3rem;
  }

  +mobile() {
    right: -0.3rem;
    bottom: -3rem;
  }
}

.use-motion {
  if (hexo-config('motion.transition.post_block')) {
    .post-block, .pagination, .comments {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_header')) {
    .post-header {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_body')) {
    .post-body {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.coll_header')) {
    .collection-header {
      opacity: 0;
    }
  }
}

@import 'post-collapse';
@import 'post-eof';
@import 'post-expand';
@import 'post-gallery';
@import 'post-header';
@import 'post-nav';
@import 'post-rtl';
@import 'post-tags';
@import 'post-widgets';
@import 'post-reward';

@import 'post-copyright' if (hexo-config('creative_commons.post'));

@import 'post-followme' if (hexo-config('follow_me'));
