.posts-collapse {
  margin-left: $posts-collapse-margin;
  position: relative;

  +mobile() {
    margin-left: $posts-collapse-margin-mobile;
    margin-right: $posts-collapse-margin-mobile;
  }

  .post-header,
  .collection-title,
  .collection-year {
    &::before {
      position: absolute;
      background: $grey;
      border: 1px solid white;
      border-radius: 50%;
      content: ' ';
      height: .6rem;
      width: .6rem;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      transition-property: background;
      the-transition();
    }
  }

  .collection-title {
    font-size: $font-size-large;
    position: relative;
    margin: 0 0 1rem;

    &::before {
      background: $grey-dark;
      height: 1rem;
      width: 1rem;
    }

    .collection-header {
      margin: 0 0 0 1.5rem !important;

      small {
        vertical-align: middle;
      }
    }
  }

  .collection-header {
    display: block;
    margin: 0 0 0 1rem;

    small {
      color: $grey;
      margin: auto;
      font-weight: 400;
      font-size: $font-size-small;
    }
  }

  .collection-year {
    font-size: $font-size-largest;
    font-weight: 600;
    margin: 3rem 0 0;
    position: relative;
    padding: 0 0 0 0.5rem;

    &:first-child {
      margin-top: unset;
    }

    +mobile() {
      font-size: $font-size-large;
    }

    &::before {
      background: $grey;
      height: .8rem;
      width: .8rem;
    }
  }

  .post-header {
    border-bottom: 1px dashed $grey-light;
    margin: 0;
    padding: 0 0 0 1.5rem;
    position: relative;
    transition-property: border;
    the-transition();
    display: grid !important;
    grid-template-columns: 1fr 13fr;
    gap: 1rem;

    +mobile() {
      margin: .3rem 0;
      grid-template-columns: 1fr 6fr;
    }

    &:hover {
      // border-bottom-color: $grey-dim;
      border-bottom-color: $theme-color;
      // FIXME: The post-title is not taking ...
      // color: $theme-color !important;

      &::before {
        // background: $black-deep;
        background: $theme-color;
      }
    }
  }

  .post-meta,
  .post-title {
    display: flex;
    align-items: center;
    font-size: $font-size-small;
  }

  .post-meta {
    justify-content: center;
  }

  .post-title {
    justify-content: flex-start;
    padding: .8rem 0;

    a, span.exturl {
      border-bottom: none;
      color: var(--link-color);
    }

    .fa-external-link-alt {
      font-size: $font-size-small;
      margin-left: 5px;
    }
  }

  &::before {
    background: $whitesmoke;
    content: ' ';
    height: 100%;
    left: 0;
    margin-left: -2px;
    position: absolute;
    top: 1.25em;
    width: 4px;
  }
}
