.post-body {
  font-family: $font-family-posts;
  word-wrap();

  +desktop() {
    // font-size: $font-size-smaller;
  }

  +desktop-large() {
    // font-size: $font-size-small;
  }


  .exturl {
    position: relative;
    margin: 0 1.2rem 0 0;
    color: $theme-color;
    display: inline;

    .fa {
      font-size: $font-size-small;

      &.fa-external-link-alt {
        font-size: $font-size-smallest - .15rem;
        opacity: .3;
        position: absolute;
        transform: translate(.3rem, .65rem);

        // +desktop() {
        //   font-size: $font-size-smallest - .15rem;
        // }

        +tablet() {
          font-size: $font-size-smallest - .2rem;
          transform: translate(.3rem, .6rem);
        }

        +mobile() {
          // font-size: $font-size-smallest - .2rem;
          transform: translate(.3rem, .55rem);
        }

      }
    }
  }

  .image-caption, .figure .caption {
    color: $grey-dark;
    font-size: $font-size-smaller;
    line-height: 1;
    margin: -.6rem auto 1.3rem;
    text-align: center;
  }
}

.post-sticky-flag {
  position: absolute;
  display: inline-block;
  transform: rotate(30deg) scale(0.8);
  opacity: .3;
  right: -1.5rem;
  top: -1.8rem;
  color: $theme-color;

  +tablet() {
    top: -.9rem;
  }

  +mobile() {
    right: -.5rem;
    top: -1rem;
  }
}

.post-button {
  text-align: center;
  position: absolute;
  font-size: $font-size-smallest;
  right: -1.55rem;
  bottom: -2.5rem;

  +tablet() {
    bottom: -3.3rem;
  }

  +mobile() {
    right: -0.3rem;
    bottom: -1.9rem;
  }
}

.use-motion {
  if (hexo-config('motion.transition.post_block')) {
    .post-block, .pagination, .comments {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_header')) {
    .post-header {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_body')) {
    .post-body {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.coll_header')) {
    .collection-header {
      opacity: 0;
    }
  }
}

@import 'post-collapse';
@import 'post-eof';
@import 'post-expand';
@import 'post-gallery';
@import 'post-header';
@import 'post-nav';
@import 'post-rtl';
@import 'post-tags';
@import 'post-widgets';
@import 'post-reward';

@import 'post-copyright' if (hexo-config('creative_commons.post'));

@import 'post-followme' if (hexo-config('follow_me'));
