// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
@import "_mixins.styl";
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Dark mode colors
// --------------------------------------------------
@import "_colors.styl";

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;


.fancybox {
  // background: red;
  border: unset;
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;

  +mobile() {
    all: unset;
  }

  img {
    display: block;
    // margin: auto; // NOTE: Using this will cause the p below move up

    +desktop() {
      width: 60%
    }

    &.large {
      display: unset;
      width: 100%;
      margin: auto auto .8rem;
    }

    &.no-shadow {
      box-shadow: unset !important;
    }
  }

  .image-caption {
    font-size: $font-size-smaller;
    line-height: 1.4;
  }

  .fancybox-caption__body {
    // padding: .3rem;
  }
}

.category-all-page,
.tag-cloud {
  margin: -1.5rem 0 0;

  .category-all-title,
  .tag-cloud-title {
    font-size: $font-size-small;
    font-style: italic;
    padding: 0 0 1rem;
    text-align: center;
    color: #999;
  }
}
