// Menu
// --------------------------------------------------
.menu {
  margin: .6rem 0 .8rem;
  padding-left: 0;
  text-align: center;

  // TODO: How to optimise?
  +mobile() {
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2rem 2.4rem;
  }

  +tablet() {
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 1.2rem;
  }
}

.menu-item {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0 1rem;

  +mobile() {
    display: block;
    margin-top: 10px;

    &.menu-item-search {
      display: none;
    }
  }

  a, span.exturl {
    border-bottom: 0;
    display: block;
    font-size: $font-size-smaller;
    transition-property: border-color;
    the-transition();

    // To prevent hover on external links with touch devices after click.
    @media (hover: none) {
      &:hover {
        border-bottom-color: transparent !important;
      }
    }
  }

  .fa, .fab, .far, .fas {
    margin-right: 8px;
  }

  .badge {
    position absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-small;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    color: $badge-color;
    width: 2rem;
    height: 2rem;
    top: 50%;
    right: .8rem;
    transition: all .3s ease-in-out;
    transform: translateY(-50%) scale(.9);
    padding: .1rem 0 0;
    opacity: .8;

    +mobile() {
      float: right;
      margin-left: 0;
    }
  }
}

.menu-item-active {

  a {
    background: var(--menu-item-bg-color);
    color: $theme-color !important;

    +mobile() {
      background: unset;
      border-radius: $border-radius * .6;
      // border: 1px solid $theme-color;
      border: 1px solid #999 !important;
      box-shadow: $box-shadow-inner;
    }

    .badge {
      color: $theme-color !important;
    }
  }
}

.use-motion .menu-item {
  opacity: 0;
}
