// NOTE: Global
.site-nav-toggle, .site-nav-right {
  display: none;

  +mobile() {
    flex-column();
  }

  .toggle {
    color: var(--text-color);
    padding: 1.3rem;
    width: 5rem;

    .toggle-line {
      background: var(--text-color);
      border-radius: 1px;
    }
  }
}

.site-nav {
  display: block;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  +mobile() {
    clear: both;
    display: none;
  }

  &.site-nav-on {
    display: block;
  }

  // NOTE: menu in here
  // themes/next/source/css/_common/outline/header/menu.styl
}

.site-nav-right {
  +tablet() {
    padding: 0 1.3rem 0 0;
  }

  +mobile() {
    padding: 0;
  }
}

/* width */
::-webkit-scrollbar {
  height: .6rem;
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(198, 0, 0, 0.192);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $theme-color;
}

p {
  font-optical-sizing: auto;
}

.globe-view-counter-container{
  margin: 0 1rem 1rem;
  border-radius: $border-radius - .3rem;
  overflow: hidden;
}
