@import '../Pisces/_layout';
@import '../Pisces/_header';
@import '../Pisces/_menu';
@import '../Pisces/_sub-menu';
@import '../Pisces/_sidebar';

$use-seo = hexo-config('seo');

// ==================================================
// Desktop layout styles.
// ==================================================
// Post blocks.
.content-wrap {
  background: initial;
  box-shadow: initial;
  padding: 1rem 1.2rem;
}

// Post & Comments blocks.
.post-block {
  background: var(--content-bg-color);
  // border-radius: $border-radius-inner;
  box-shadow: $box-shadow-inner;
  border-radius: 1rem;
  padding: $content-desktop-padding;
  padding: 1rem 2.4rem 2rem;
  // padding: 0.3rem 1.3rem 0.1rem;

  // When blocks are siblings (homepage).
  &+.post-block {
    // Rewrite shadows & borders because all blocks have offsets.
    box-shadow: $box-shadow;
    margin: 1.4rem 0 0;
  }

  // NOTE: list in post
  ol {
    padding: 0 0 1.5rem 3rem;
  }

  ul {
    padding: 0 0 1.3rem 3rem;

    // li {
    //   display: flex;
    //   align-items: center;
    //   justify-content: flex-start;
    //   gap: 0.8rem;
    // }
  }

  ol {
    li {
      p {
        margin: 0 0 1rem 0;
      }
    }
  }
}

// Comments blocks.
.comments {
  background: var(--content-bg-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin: 1.4rem 0 0;
  padding: $content-desktop-padding;
  user-select: none;
}

.tabs-comment {
  margin-top: 1em;
}

// Top main padding from header to posts (default 40px).
.content {
  padding-top: initial;
}

// Post delimiters.
.post-eof {
  display: none;
}

// Pagination.
.pagination {

  .prev, .next, .page-number {
    margin-bottom: initial;
    top: initial;
  }

  // background: var(--content-bg-color);
  border-radius: $border-radius;
  border-top: initial;
  // box-shadow: $box-shadow;
  // margin: $sidebar-offset 0 0;
  margin: 1rem 0 0;
  padding: 10px 0;
}

// Footer alignment.
.main {
  padding-bottom: initial;
}

.footer {
  bottom: auto;
}

// Sub-menu(s).
.sub-menu {
  border-bottom: initial;
  box-shadow: $box-shadow-inner;

  // Adapt submenu(s) with post-blocks.
  +.content .post-block {
    box-shadow: $box-shadow;
    margin-top: $sidebar-offset;

    +tablet() {
      margin-top: $content-tablet-padding;
    }

    +mobile() {
      margin-top: $content-mobile-padding;
    }
  }
}

// ==================================================
// Headers.
// ==================================================
.post-body {
  h1,h2,h3,h4,h5,h6 {
    color: $theme-color;
  }

  h1 {
    /* border-bottom: 1px solid $body-bg-color; */
    border-bottom: 1px solid rgba(198, 0, 0, .192);
  }

  h1 {
    font-size: $font-size-largest;
  }

  h2 {
    font-size: $font-size-larger;
  }

  h3 {
    font-size: $font-size-large;

    if ($use-seo) {
      border-bottom: 1px solid $body-bg-color;
    } else {
      border-bottom: 1px dotted $body-bg-color;
    }
  }

  h4 {
    font-size: $font-size-medium;

    if ($use-seo) {
      border-bottom: 1px dotted $body-bg-color;
    }
  }

  h2,h3,h4,h5,h6 {
    &::before {
      // ▲
      // content: "‣";
      content: "►";
      margin: 0 1rem 0 0;
      color: #FE0000; // NOTE: same as a:not(.fancybox):not(.category-list-link):not(.btn)
      opacity: .13;
    }
  }

  // TODO: Change title size accordingly
  +mobile-small() {
    h1, h2 {
      margin: 1.3rem 0 1rem;
      padding 0;
    }

    h1 {
      font-size: $font-size-large;
    }

    h2, h3, h4 {
      font-size: $font-size-medium;
    }
  }
}

+tablet() {
  // Posts in blocks.
  .content-wrap {
    padding: 7.25rem $content-mobile-padding $content-mobile-padding;
  }

  .posts-expand {
    // Components inside Posts.
    .post-button {
      margin-top: ($content-tablet-padding * 2);
    }
  }

  .post-block {
    border-radius: $border-radius;
    // Rewrite shadows & borders because all blocks have offsets.
    box-shadow: $box-shadow;
    // Inside posts blocks content padding (default 40px).
    padding: ($content-tablet-padding * .5) ($content-tablet-padding * 2) ($content-tablet-padding * 2.5);
    // padding: 1rem 2rem 2rem;
    font-size: $font-size-smaller;
  }

  // Only if blocks are siblings need bottom margin (homepage).
  .post-block+.post-block {
    margin-top: $content-tablet-padding;
  }

  .comments {
    margin-top: $content-tablet-padding;
    padding: $content-tablet-padding ($content-tablet-padding * 2);
  }

  .pagination {
    margin: $content-tablet-padding 0 0;
  }
}

+mobile() {
  // Posts in blocks.
  .content-wrap {
    padding: 7.25rem $content-mobile-padding $content-mobile-padding;
  }

  .posts-expand {
    // Components inside Posts.
    .post-button {
      // margin: $sidebar-offset 0;
    }
  }

  .post-block {
    border-radius: $border-radius;
    // Rewrite shadows & borders because all blocks have offsets.
    box-shadow: $box-shadow;
    min-height: auto;
    // Inside posts blocks content padding (default 40px).
    padding: 0.8rem 2rem 2.3rem;
  }

  // Only if blocks are siblings need bottom margin (homepage).
  .post-block+.post-block {
    margin-top: $content-mobile-padding;
  }

  .comments {
    margin-top: $content-mobile-padding;
    padding: .8rem 1rem 0;
  }

  .pagination {
    margin: $content-mobile-padding 0 0;
  }
}
