.site-brand-container {
  background: $black-deep;

  +tablet-mobile() {
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  }
}

.site-meta {
  padding: 1rem 0;
}

.brand {
  padding: 0;
}

.site-subtitle {
  margin: 0 .3rem .1rem;
}

.custom-logo-image {
  margin-top: 20px;

  +tablet-mobile() {
    display: none;
  }
}
