.site-nav-toggle, .site-nav-right {
  +tablet() {
    flex-column();
  }

  .toggle {
    color: white;

    .toggle-line {
      background: white;
    }
  }
}

.site-nav {
  +tablet() {
    display: none;
  }
}

.menu .menu-item {
  display: block;
  margin: 0;

  a, span.exturl {
    padding: 5px 20px;
    position: relative;
    text-align: left;
    transition-property: background-color;

    &:hover {
      @extend .menu-item-active a;
    }

    +mobile() {
      padding: .5rem 1.2rem;
      border: 1px solid transparent;
    }
  }

  +tablet-mobile() {
    &.menu-item-search {
      display: none;
    }
  }
}

if (!hexo-config('menu_settings.badges')) {
  .main-menu .menu-item-active a::after {
    background: $grey;
    border-radius: 50%;
    content: ' ';
    height: 6px;
    margin-top: -3px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 6px;
  }
}
