.back-to-top {
  // background: $b2t-bg-color;
  background: rgba(0, 0, 0, .3);
  bottom: $b2t-position-bottom;
  box-sizing: border-box;
  color: $b2t-color;
  cursor: pointer;
  left: $b2t-position-right;
  padding: 0 6px;
  position: fixed;
  transition-property: bottom;
  z-index: $zindex-3;
  backdrop-filter: blur(3px);

  if (hexo-config('back2top.scrollpercent')) {
    width: initial;
  } else {
    width: 24px;

    span {
      display: none;
    }
  }

  // &:hover {
  //   color: $sidebar-highlight;
  // }

  &.back-to-top-on {
    bottom: 3.3rem;
    right 1rem;

    +tablet-mobile() {
      bottom: 6rem;
    }
  }
}
