.back-to-top {
  background: transparent;
  margin: 20px - $sidebar-offset -10px -20px;

  if (!hexo-config('back2top.scrollpercent')) {
    span {
      display: none;
    }
  }

  &.back-to-top-on {
    cursor: pointer;
  }
}
