.back-to-top {
  background: rgba(255, 255, 255, 0.3);
  bottom: $b2t-position-bottom;
  box-sizing: border-box;
  // color: $b2t-color;
  color: #000;
  cursor: pointer;
  left: $b2t-position-right;
  position: fixed;
  transition-property: bottom;
  z-index: $zindex-3;

  // form _layout.style
  left: auto;
  right: $b2t-position-right;
  border-radius: .8rem;
  padding: .3rem 1.5rem;
  backdrop-filter: blur(.3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all .3s ease-in-out;
  border: 1px solid #000;

  +tablet-mobile() {
    right: $b2t-position-right-mobile;
  }

  if (hexo-config('back2top.scrollpercent')) {
    width: initial;
  } else {
    // width: 24px;

    span {
      display: none;
    }
  }

  &.back-to-top-on {
    bottom: 3.3rem;
    right 2.3rem;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(.98);
      box-shadow: $box-shadow-inner;
    }

    +tablet-mobile() {
      padding: .5rem 2rem;
      bottom: 2rem;
      right 2rem;
    }
  }
}
